.login__page {
	min-height: 100vh;
	display: flex;
	align-items: center;

	&--left {
		background-color: #ffffff;
		border-radius: 20px;
		width: 50%;
		padding-left: 110px;
		padding-right: 110px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		box-shadow: 0px 40px 100px -50px rgba(23, 31, 38, 0.3);
	}

	&--right {
		position: relative;
		border-radius: 20px;
		width: 50%;
		background-image: url("../../assets/images/login-footer.svg"),
			url("../../assets/images/login-blur.svg"),
			url("../../assets/images/login-bg.svg");
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: bottom 5px left 5px, top left, center center;
		margin-left: -40px;
	}

	&--container {
		min-height: 841px;
		display: flex;
		max-width: 1270px;
		width: 100%;
		margin: 0 auto;

		@media screen and (max-width: 1440px) {
			min-height: 730px;
		}
	}

	&--title {
		color: #003bcf;
		font-size: 31px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	&--info {
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 16px;
		font-weight: 400;
		color: #000;
		opacity: 0.45;
	}

	&--modal {
		position: absolute;
		z-index: 999;
		backdrop-filter: blur(114px);
		height: 75%;
		width: 80%;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(37, 67, 176, 0.24);
		padding-left: 60px;
		padding-right: 60px;

		a {
			position: absolute;
			right: 30px;
			bottom: 20px;
			font-weight: bold;
			color: #4570da;
			font-size: 16px;
		}

		h5 {
			color: #cbf3ff;
			font-size: 30px;
			font-weight: 500;
			line-height: 35px;
		}

		& > img {
			margin-top: 90px;
			margin-bottom: 20px;
			width: 90px;
			object-fit: contain;
		}
	}

	.oks-name {
		font-size: 15px;
		line-height: 18px;
		color: #ffffff;
		position: absolute;
		bottom: 45px;
		width: 50%;
		left: 140px;
		padding-left: 75px;
		transform: translateX(-75px);
	}

	&--abs-1 {
		position: absolute;
		width: 70px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #1740b6;
		border-radius: 50%;
		top: 50px;
		right: -20px;
	}
}