.spinner-container {
	text-align: center;
	z-index: 9999;
	.spinner-position {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9999;
	}

	.tips {
		margin-top: 10px;
		font-size: 14px;
	}
}
