//uploadImageManager
.upload-photos.has-error{
  .add-image-btn{
    border-color: #f5222d;
  }
}
.preview-list{
  display: flex;
  flex-wrap: wrap;
  .add-image-btn{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    font-size: 14px;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: .2s ease;
    margin-right: 8px;
    margin-bottom: 8px;
    &:hover{
      border-color: #1890ff;
    }
  }
  .preview-item{
    width: 102px;
    height: 102px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    &:hover{
      &::after, .delete-btn{
        opacity: 1;
        pointer-events: auto;
      }
    }
    &::after{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      pointer-events: none;
      transition: .2s ease-in-out;
    }
    .delete-btn{
      width: 16px;
      height: 16px;
      content: "";
      cursor: pointer;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      margin-left: -8px;
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      transition: .2s ease;
      svg{
        max-width: 100%;
        max-height: 100%;
        fill: #ffffff;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.dark{
  .preview-list{
    .add-image-btn{
      background-color: rgba(35, 42, 59, 1);
      border: 1px dashed #d9d9d9;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      transition: .2s ease;
      margin-right: 8px;
      margin-bottom: 8px;
      &:hover{
        border-color: #1890ff;
      }
    }
    .preview-item{
      &::after{
        background-color: rgba(0,0,0,.5);
      }
      .delete-btn{
        svg{
          max-width: 100%;
          max-height: 100%;
          fill: #ffffff;
        }
      }
    }
  }
}